.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

/*Sectional slider bar*/
/*Resets the position inherited from "progress" class in html*/
#secprogress{
  top: 40px;
}

/*Bandit Graphics*/
#PContainer {
	position:absolute;
	left: 50%;
	top: 400px;
    width: 200px;
    margin: 10px;
    margin-left: 50px;
}

#QContainer {
	position: absolute;
	right: 50%;
	top: 400px;
    width: 200px;
    margin: 10px;
    margin-right: 50px;
}

.Pmarble {
	position: absolute;
	top: 310px;
	width: 100px;
	margin: 10px;
	left: 50%;
	margin-left: 100px;
}

.Qmarble {
	position: absolute;
	top: 310px;
	width: 100px;
	margin: 10px;
	right: 50%;
	margin-right: 100px;
}