{
"rewriteProperties":"yes",
"liveHIT":"no",
"title":"A game of luck (study)",
"description":"Play a game of chance and answer a few questions about it!",
"nameofexperimentfiles":"bandit1",
"experimentURL":"https://web.stanford.edu/~mtessler/experiments/dependent-measures/bandit/bandit.html",
"keywords":"game chance probability stanford fun cognitive science",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"frameheight":"650",
"reward":"0.00",
"numberofassignments":"1",
"assignmentduration":"1800",
"hitlifetime":"2592000",
"autoapprovaldelay":"60000",
"conditions":"cond"
}